# Ignore the virtual environment
venv/
.env

# Ignore private keys (CRITICAL)
keys/*_private.pem

# Ignore server storage (the actual files transferred)
server_storage/

# Ignore python cache
__pycache__/
*.pyc